body {
    margin: 0;
    background-color: #2F2C30;
    font-family: "Lato", "Avenir";
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 25%;
    transition: background .4s;
    -webkit-transition: background .4s;
    -moz-transition: background .4s;
}

#container {
    max-width: 600px;
    margin: 40px auto;
}

h1 {
    margin: 0;
    text-align: center;
    line-height: 1.4;
    background-color: #61247D;
    color: #DDD2ED;
    font-weight: normal;
    text-transform: uppercase;
    padding: 30px 0;
}

#colorDisplay {
    font-size: 200%;
}

#stripe {
    background-color: #DDD2ED;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.selected {
    background-color: #61247D;
    color: white;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: #4B1067;
    letter-spacing: 2px;
    font-family: inherit;
    font-size: inherit;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    outline: none;
}

button:hover {
    color: white;
    background: #4B1067;
}

#message {
    display: inline-block;
    width: 20%;
}